.banner-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Added justify-content property */
  padding: 10px 12px;
  border-radius: 64px;
  margin: 0 4px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Open Sans", "PingFang SC", "Microsoft YaHei", "Helvetica Neue",
    "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, sans-serif;
  background-color: transparent;
}

.banner-button:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}
